@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

img{
  object-fit: contain;
  width:100%;
  height:100%;
}

@layer components {
  .title{
    @apply text-xl font-bold my-[2rem]
}

.election-list{
    @apply my-4 border-1 p-4 border-gray-300 rounded-lg
}

.button{
    @apply rounded-md bg-[#266ef3] py-1.5 px-3 text-sm text-white
}

.padding{
  @apply px-[2rem] lg:px-[3rem] py-[2rem]
}

.card{
  @apply bg-white shadow-md padding rounded-lg
}

}