@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  object-fit: contain;
  width:100%;
  height:100%;
}

@layer components {
.margin{
  @apply mx-[3rem] my-[2rem]
}

.register  input{
  @apply  ring-black px-2 py-1 rounded
}
.register label{
  @apply font-semibold mb-1
}

}